body{
    background-color: rgb(213, 196, 247);
}
head{
    background-color: rgb(213, 196, 247);
}
table, th, td {
    border: 1px solid;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h4 #n1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
tr{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.titulos{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:link, a:visited {
    background-color: #cf88c0;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:hover, a:active {
    background-color: rgb(67, 23, 73);
}